.about-page{
    border: 3px solid #dbdbdb;
    border-radius: 5px;
    width: fit-content;
    margin-top: 20px;
    &__content{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        &__image{
            height: 200px;
            width: 200px;
            border-radius: 50%;
        }
    }
}